body { 
	text-align: center;
	background: #ccd9ff
}

#LOGO {
	width: 85%;

}

#COLLOR {
	width: 100%;
	
}

h1 { 
	text-align: center;
	background: #b3c6ff
}

em { 
	color: #009973
}

.itens{	
	font-style: italic;
}
